html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black; 
    font-family: montserrat, sans-serif;
}

.button {
    background-color: black;
    color: #7D80E1;
    border: 2px solid;
    border-color: #7D80E1;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 315px;
    font-family: montserrat, sans-serif;
    transition: 0.4s;
    text-decoration: none;

    animation-name: profile-titulo;
    animation-duration: 4s;
}


.button:hover {
    background-color: #7D80E1;
    color: white;
    border-color: #7D80E1;
    transition: 0.4s;
}

.menu {
    background-color: black;
    color: white;
    height: 50px;
}

.menu h3{
    padding-left: 0px;
    padding-right: 250px;
    font-size: 18px; 
    font-weight: 400;   
    display: inline-block;
    color: #7D80E1;
    font-family: "Pacifico", cursive;
}

.menu ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    padding-right: 30px;
    text-align: center;
    height: 50px;
}

.menu li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 100;
    color: white;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.menu a:hover {
    color: #7D80E1;
    font-size: 20px;
    transition: 0.5s;
    
}

.menu li.threeline {
    display: none;

}

.capa {
    color: white;
}

.capa span {
    color: #7D80E1;
    display: block;
}

.capa div {
    display: inline-block;

}

.profile-pic {
    text-align: center;
    width: 30%;
    margin-top: 100px;

    animation-name: profile-capa;
    animation-duration: 3s;
}

.profile-pic img {
    width: 280px;
    height: 280px;
    border-radius: 280px;
    margin-bottom: -40px;
}

.profile-title {
    vertical-align: top;
    display: flex;
    width: 60%;
    margin-top: 150px;;
    margin-bottom: 10px;
    text-align: center;

    animation-name: profile-titulo;
    animation-duration: 3s;
}

.profile-title h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    width: 100%;
    margin-top: -18px;
}

.profile-title h2 {
    font-size: 16px;
    font-weight: 100;
    margin-top: -26px;
    width: 100%;
}

.profile-title h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 19px;
    width: 100%;
}

.social-links {
    position: relative;
    margin-top: 20px;
    padding-left: 300px;
    padding-top: 200px;
    display: inline;
  }
  
.social-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 24px;
    color: #7D80E1;
    text-align: center;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  }
  
.social-links a:hover {
    -webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
  }
  
.social-links a i {
    line-height: 36px;
    font-size: 16px;
    transition: 0.4s;   
  }

  .social-links a i:hover {
    font-size: 20px;
    transition: 0.4s;
  }

  /* ------------------- Curriculo ---------------------- */
  
.main {
    padding: 40px 180px 80px 100px;

    animation-name: conteudo;
    animation-duration: 2s;
}

.main img {
    float: left;
    width: 280px;
    height: 280px;
    margin-right: 20px;
    margin-bottom: 20px;
}

  .main h1 {
    color: white;
    font-weight: normal;  
}

.main h2 {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 40px;
}  

.main h3 {
    color: #7D80E1;
    font-size: 12px;
    text-transform: uppercase;
}

.main p {
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    text-align: justify;
}

.caminho {
    list-style: none;
    padding-left: 0;
    color: gray;
}

.caminho li {
    display: inline-block;
}

.caminho li a {
    color: gray;
    text-decoration: none;
}

.link-cur {
    color: #7D80E1;
    text-decoration: none;
}

/* ------------------- Contatos ---------------------- */

.social-links-contato{
    position: relative;
    display: inline;
  }
  
.social-links-contato a {
    display: inline;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 24px;
    color: white;
    text-align: center;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  }
  
.social-links-contato a:hover {
    -webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
  }
  
.social-links-contato a i {
    line-height: 15px;
    font-size: 23px;
  }

  /* ------------------- Portifólio ---------------------- */

  .miniatura {
    width: 320px;
    height: 320px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: contain;
    overflow: hidden;
  }

  .miniatura a {
    text-decoration: none;
  }

  .blackbox {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 120px;
    transition: 0.4s;
  }

  .blackbox:hover {
    opacity: 0.8;
    transition: 0.4s;
  }

  .blackbox-text {
    text-align: center;
  }

  .blackbox-text h1 {
    font-size: 16px;
    color: #7D80E1;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 400;
  }

  .blackbox-text h2 {
    text-transform: none;
    font-weight: 100;
    margin-top: 0;
  }


  @keyframes profile-capa {
    0% {opacity: 0; transform: translate(0px, 20px);}
    100% {opacity: 1; transform: translate(0px, 0px);}
  }

    @keyframes profile-titulo {
        0% {opacity: 0; transform: translate(0px, -20px);}
        100% {opacity: 1; transform: translate(0px, 0px);}
    }

  @keyframes conteudo {
    0% {opacity: 0; transform: translate(-20px, 0px);}
    100% {opacity: 1; transform: translate(0px, 0px);}
  }

  @media (max-width: 1000px) {

    .menu {
      position: relative;
      height: auto;
      overflow: hidden;
    }

    .menu li {
      display: none;
    }

    .menu h3 {
      display: none;
    }

    .social-links {
      display: none;
    }

    .menu li.threeline {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      text-align: right;
      border-bottom: none;
    }

      .menu li.threeline:hover {
        color: #7D80E1;
        cursor: pointer;

      }

  .capa {
    text-align: center;
    margin-top: 250px;
  }

  .capa div {
    display: block;
    height: auto;
  }

  .profile-pic {
    width: 100%;
    margin-top: 30px;
  }

  .profile-pic img {
    max-height: 80%;
    max-width: 80%;
    margin-bottom: 35px;
  }

  .profile-title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .profile-title h4 {
    margin-bottom: 15px;
  }

  .profile-title h1 {
    font-size: 40px; 
    margin-left: 20x;
    margin-right: 20px;
  }

  .profile-title h2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .button {
    display: inline-block;
    margin: 20px auto;
    text-align: center;
  }

  .main {
    padding: 10px 5% 40px 5%;
    margin-top: 215px;
  }

  .main p {
    text-align: left;
    line-height: 30px;
  }

  .caminho li {
    font-size: 12px;
  }

  .cv-pic {
    float: none;
    max-width: 100%;
    max-height: 100%;
  }

  .miniatura {
    max-width: 100%;
    max-height: 100%;
    background-size: auto 100%;
  }

  .blackbox {
    opacity: 0.8;
  }

  .menujs {
    height: auto;
    overflow: visible;
  }

  .menujs ul {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
  }
  
  .menujs li {
    display: block;
    border-bottom: solid gray 1px;
    width: 100%;
    padding: 0;
    font-weight: 400;
  }

  .menujs li a {
    display: block;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    color: white;
  }

}
